@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800');


.flex-container {
    padding-top: 300px;
    display: flex;
    justify-content: center;
    align-content: center;
}

h1,h2,h3,h4,h5,h6,label,span {
  justify-content: center;  
  align-items: center;
  font-weight: 500;
  font-family: 'Fira Sans', sans-serif;
}


.custom-control-label {
  font-weight: 400;
}

.forgot-password,
.forgot-password a {
  text-align: left;
  font-size: 13px;
  padding-top: 10px;
  color: #7f7d7d;
  margin: 0;
}

.forgot-password a {
  color: #167bff;
}

